<div>
    <!-- Toast -->
    <p-toast />

    <!-- Toolbar -->
    <p-toolbar styleClass="mb-6">
        <ng-template #start>
            <p-button id="btnNew" label="New" icon="pi pi-plus" severity="secondary" class="mr-2"
                (onClick)="openNew()" />
            <p-button id="btnMultiDelete" severity="secondary" label="Delete" icon="pi pi-trash" outlined
                (onClick)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length" />
        </ng-template>

        <ng-template #end>
            <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
            <p-button label="TEST" icon="pi pi-upload" severity="secondary" (onClick)="getVendedores()" />
        </ng-template>
    </p-toolbar>

    <!-- Tabla de objetos -->
    <p-table #dt id="dataTable" [value]="listItems()" [rows]="10" [columns]="columns" [paginator]="true"
        [globalFilterFields]="['idVendedor', 'nombre', 'dni', 'tfno', 'email', 'username', 'rol']"
        [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="selectedItems" [rowHover]="true" dataKey="idVendedor"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} vendedores"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 20, 30]">
        <!-- Titulo de la tabla -->
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <h5 class="m-0">Lista de vendedores</h5>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search" />
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
                </p-iconfield>
            </div>
        </ng-template>

        <!-- Cabecera de la tabla -->
        <ng-template #header>
            <tr>
                <!-- CheckBox Header -->
                <th class="w-12">
                    <p-tableHeaderCheckbox />
                </th>

                <!-- Columnas Header -->
                <th class="w-48" *ngFor="let col of columns" pSortableColumn="{{ col.field }}">
                    <span>{{ col.header }}</span>
                    <!-- <p-sortIcon [field]="col.field" [ngClass]="{'p-sortable-column': col.sortable}" /> -->
                </th>

                <!-- <th style="min-width: 16rem">Code</th>
                <th pSortableColumn="name" style="min-width:16rem">
                    Name
                    <p-sortIcon field="name" />
                </th>
                <th>Image</th>
                <th pSortableColumn="price" style="min-width: 8rem">
                    Price
                    <p-sortIcon field="price" />
                </th>
                <th pSortableColumn="category" style="min-width:10rem">
                    Category
                    <p-sortIcon field="category" />
                </th>
                <th pSortableColumn="rating" style="min-width: 12rem">
                    Reviews
                    <p-sortIcon field="rating" />
                </th>
                <th pSortableColumn="inventoryStatus" style="min-width: 12rem">
                    Status
                    <p-sortIcon field="inventoryStatus" />
                </th> -->

                <!-- Buttons Header -->
                <th style="min-width: 12rem"></th>
            </tr>
        </ng-template>

        <!-- Cuerpo de la tabla -->
        <ng-template #body let-item>
            <tr>
                <!-- Checkbox Body -->
                <td class="w-12">
                    <p-tableCheckbox [value]="item" />
                </td>
                <!-- <td style="width: 3rem">
                    <p-tableCheckbox [value]="item" [(ngModel)]="selectedItems" />
                </td> -->

                <!-- Columnas Body -->
                <!-- <td class="min-w-32" *ngFor="let col of columns">
                    <span>{{ item[col.field] }}</span>
                </td> -->

                <ng-container *ngFor="let col of columns">
                    <!-- Si es foto -->
                    <td *ngIf="col.field === 'foto'; else rolField" class="min-w-16">
                        <img [src]="item[col.field]" [alt]="item[col.field]" style="width: 64px" class="rounded"
                            [ngStyle]="{ width: '64px' }" />
                    </td>

                    <!-- Si es rol -->
                    <ng-template #rolField>
                        <td *ngIf="col.field === 'rol'; else estadoField" class="min-w-32">
                            <!-- <p-tag  [value]="getRol(item[col.field])" [severity]="getSeverity(item[col.field])" /> -->
                            <p-tag [value]="item[col.field]" [severity]="getSeverity(item[col.field])" />
                        </td>
                    </ng-template>

                    <!-- Si es estado -->
                    <ng-template #estadoField>
                        <td *ngIf="col.field === 'estado'; else otherField" class="min-w-32">
                            <p-toggleSwitch #switchEstado [(ngModel)]="item[col.field]"
                                (onChange)="stateChange(item, switchEstado)" />
                            <span class="ml-2">{{ item[col.field] ? 'Activo' : 'Inactivo'
                                }}</span>

                        </td>
                    </ng-template>

                    <!-- Cualquier otro caso -->
                    <ng-template #otherField>
                        <td class="min-w-32">
                            <span>{{ item[col.field] }}</span>
                        </td>
                    </ng-template>
                </ng-container>

                <!-- <td style="min-width: 12rem">{{ product.code }}</td>
                <td style="min-width: 16rem">{{ product.name }}</td>
                <td>
                    <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image"
                        [alt]="product.name" style="width: 64px" class="rounded" />
                </td>
                <td>{{ product.price | currency: 'USD' }}</td>
                <td>{{ product.category }}</td>
                <td>
                    <p-rating [(ngModel)]="product.rating" [readonly]="true" />
                </td>
                <td>
                    <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)" />
                </td> -->

                <!-- Buttons Body -->
                <td>
                    <p-button [id]="'btnEdit-' + item.idVendedor" icon="pi pi-pencil" class="mr-2" [rounded]="true"
                        [outlined]="true" (click)="editItem(item)" />
                    <p-button [id]="'btnDelete-' + item.idVendedor" icon="pi pi-trash" severity="danger"
                        [rounded]="true" [outlined]="true" (click)="deleteItem(item)" />
                </td>
            </tr>
        </ng-template>
    </p-table>

    <!-- Modal -->
    <!-- Modal -->
    <p-dialog [(visible)]="itemDialog" [style]="{ width: '450px' }" header="Nuevo vendedor" [modal]="true"
        [closable]="false">
        <ng-template #content>
            <div class="flex flex-col gap-6">
                <img [src]="item.foto" [alt]="item.nombre" class="block m-auto pb-4" *ngIf="isItemDialogEdit" />
                <div class="card">
                    <div class="font-semibold text-xl mb-4">Foto</div>
                    <p-fileupload #fileUploader name="foto" accept="image/*" maxFileSize="1000000" mode="advanced"
                        url="https://www.primefaces.org/cdn/api/upload.php" multiple="false" fileLimit="1"
                        formData="formData" (onSelect)="onFileChange($event)">
                        <ng-template #empty>
                            <div>Drag and drop files to here to upload.</div>
                        </ng-template>
                        <!-- <ng-template #content>
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template> -->
                    </p-fileupload>
                    <small class="text-red-500" *ngIf="submitted && !uploadedFiles">Name is required.</small>
                </div>

                <div>
                    <label for="nombre" class="block font-bold mb-3">Name</label>
                    <input type="text" pInputText id="nombre" [(ngModel)]="item.nombre" required autofocus fluid />
                    <small class="text-red-500" *ngIf="submitted && !item.nombre">Name is required.</small>
                </div>

                <div>
                    <label for="dni" class="block font-bold mb-3">DNI</label>
                    <input type="text" pInputText id="dni" [(ngModel)]="item.dni" required autofocus fluid
                        [disabled]="isItemDialogEdit" />
                    <small class="text-red-500" *ngIf="submitted && !item.dni">Name is required.</small>
                </div>

                <!-- <div>
                    <label for="description" class="block font-bold mb-3">Description</label>
                    <textarea id="description" pTextarea [(ngModel)]="product.description" required rows="3" cols="20"
                        fluid></textarea>
                </div> -->
                <div>
                    <label for="tfno" class="block font-bold mb-3">Telefono</label>
                    <input type="text" pInputText id="tfno" [(ngModel)]="item.tfno" required autofocus fluid />
                    <small class="text-red-500" *ngIf="submitted && !item.tfno">Name is required.</small>
                </div>

                <div>
                    <label for="email" class="block font-bold mb-3">Email</label>
                    <input type="text" pInputText id="email" [(ngModel)]="item.email" required autofocus fluid />
                    <small class="text-red-500" *ngIf="submitted && !item.email">Name is required.</small>
                </div>

                <div>
                    <label for="rol" class="block font-bold mb-3">Rol del Vendedor</label>
                    <p-select class="w-full" [(ngModel)]="item.idRol" inputId="rol" [options]="roles"
                        optionLabel="nombreRol" optionValue="idRol" placeholder="Selecciona un rol" fluid
                        [appendTo]="'body'" />
                </div>

                <div>
                    <label for="username" class="block font-bold mb-3">Usuario</label>
                    <input type="text" pInputText id="username" [(ngModel)]="item.username" required autofocus fluid />
                    <small class="text-red-500" *ngIf="submitted && !item.username">Name is required.</small>
                </div>

                <div>
                    <label for="password" class="block font-bold mb-3">Contraseña</label>
                    <input type="password" pInputText id="password" [(ngModel)]="item.password" required autofocus
                        fluid />
                    <small class="text-red-500" *ngIf="submitted && !item.password">Password is required.</small>
                </div>

                <!-- <div>
                    <span class="block font-bold mb-4">Category</span>
                    <div class="grid grid-cols-12 gap-4">
                        <div class="flex items-center gap-2 col-span-6">
                            <p-radiobutton id="category1" name="category" value="Accessories"
                                [(ngModel)]="product.category" />
                            <label for="category1">Accessories</label>
                        </div>
                        <div class="flex items-center gap-2 col-span-6">
                            <p-radiobutton id="category2" name="category" value="Clothing"
                                [(ngModel)]="product.category" />
                            <label for="category2">Clothing</label>
                        </div>
                        <div class="flex items-center gap-2 col-span-6">
                            <p-radiobutton id="category3" name="category" value="Electronics"
                                [(ngModel)]="product.category" />
                            <label for="category3">Electronics</label>
                        </div>
                        <div class="flex items-center gap-2 col-span-6">
                            <p-radiobutton id="category4" name="category" value="Fitness"
                                [(ngModel)]="product.category" />
                            <label for="category4">Fitness</label>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="grid grid-cols-12 gap-4">
                    <div class="col-span-6">
                        <label for="price" class="block font-bold mb-3">Price</label>
                        <p-inputnumber id="price" [(ngModel)]="product.price" mode="currency" currency="USD"
                            locale="en-US" fluid />
                    </div>
                    <div class="col-span-6">
                        <label for="quantity" class="block font-bold mb-3">Quantity</label>
                        <p-inputnumber id="quantity" [(ngModel)]="product.quantity" fluid />
                    </div>
                </div> -->
            </div>
        </ng-template>

        <ng-template #footer>
            <p-button id="btnCancel" label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
            <p-button id="btnSave" label="Save" icon="pi pi-check" (click)="createVendedor()"
                *ngIf="!isItemDialogEdit" />
            <p-button id="btnUpdate" label="Update" icon="pi pi-check" (click)="updateVendedor()"
                *ngIf="isItemDialogEdit" />
        </ng-template>
    </p-dialog>

    <p-confirmdialog [style]="{ width: '450px' }" />
</div>